<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test1.mapper.CustomerMapper">
    
    <resultMap type="Customer" id="CustomerResult">
        <result property="id"    column="id"    />
        <result property="avatar"    column="avatar"    />
        <result property="name"    column="name"    />
        <result property="pictures"    column="pictures"    />
        <result property="files"    column="files"    />
    </resultMap>

    <sql id="selectCustomerVo">
        select id, avatar, name, pictures, files from customer
    </sql>

    <select id="selectCustomerList" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>  
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="pictures != null  and pictures != ''"> and pictures = #{pictures}</if>
            <if test="files != null  and files != ''"> and files = #{files}</if>
        </where>
    </select>
    
    <select id="selectCustomerById" parameterType="Long" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="avatar != null">avatar,</if>
            <if test="name != null">name,</if>
            <if test="pictures != null">pictures,</if>
            <if test="files != null">files,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="avatar != null">#{avatar},</if>
            <if test="name != null">#{name},</if>
            <if test="pictures != null">#{pictures},</if>
            <if test="files != null">#{files},</if>
         </trim>
    </insert>

    <update id="updateCustomer" parameterType="Customer">
        update customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="name != null">name = #{name},</if>
            <if test="pictures != null">pictures = #{pictures},</if>
            <if test="files != null">files = #{files},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerById" parameterType="Long">
        delete from customer where id = #{id}
    </delete>

    <delete id="deleteCustomerByIds" parameterType="String">
        delete from customer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>